$flex: flex;

// color
$white: #fff;
$color: #40a652;
$color2: #4d4d4d;
$color3: #a5a5a5;
$color4: #d8d8d8;
$color5: #c3c3c3;
$color6: #f5f5f5;
$color7: #eeeeee;

// font
$fm: 'Arial';

$fs1: 68px;
$fs2: 48px;
$fs3: 36px;
$fs4: 24px;
$fs5: 18px;
$fs7: 15px;
$fs8: 14px;

//width

$width: 100%;
$widt: 96%;
$widt2: 94%;
$wid: 50%;
$wid2: 48%;
$wid3: 32%;
$wid4: 24%;
$wid5: 19%;
